{% extends 'base.html'%}
{% block title %}contacts us{% endblock title %}

{% block body %}
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/static/contactus.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block" style="background-color: black;">
        <h4>Contact Us</h4>
      </div>
    </div>
  </div>
</div>

<div class="container py-4">
  <form method="POST" action="/contact">
  {% csrf_token %}
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
    </div>
    <div class="mb-3">
      <label for="mail" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email here">
    </div>
    <div class="mb-3">
      <label for="desc" class="form-label">Write Here</label>
      <textarea class="form-control" id="desc" name="desc" rows="3"></textarea>
    </div>
    <button class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock body %}